body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    color: #333;
}

footer {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.calculator {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #f3f3f3;
    font-size: 2em;
    text-align: right;
    margin-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    background-color: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px #ccc;
}

button:active {
    box-shadow: 0 2px #aaa;
    transform: translateY(2px);
}

button.operator {
    background-color: #ff9500;
    color: white;
}

button.equal-sign {
    background-color: #007aff;
    color: white;
    grid-column: span 2;
}

button.all-clear, button.delete {
    background-color: #ff3b30;
    color: white;
    grid-column: span 2;
}

button[value="%"], button[value="^"], button[value="sqrt"], button[value="sin"], button[value="cos"], button[value="tan"] {
    background-color: #32cd32;
    color: white;
}

button.exit {
    background-color: #ff9500;
    color: white;
}
